.header-btn-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 45px;
    border: 1px solid $support-light-3;
    border-radius: 5px;
    cursor: pointer;

    .icon, .icon::before, .icon::after {
        display: block;
        width: 26px;
        height: 3px;
        border-radius: 5px;
        background-color: currentColor;
    }
    .icon {
        color: $support-dark-4;
        @include btn-transition(background-color, color);

        &::before, &::after {
            content: "";
            position: absolute;
            @include general-transition(transform);
        }
        &::before {
            transform: translate3D(0, -9px, 0);
        }
        &::after {
            transform: translate3D(0, 9px, 0);
        }
    }
    &:active .icon {
        color: $primary;
    }
    // JS
    &.show .icon {
        background: transparent;

        &::before {
           transform: rotate(45deg);
        }
        &::after {
           transform: rotate(-45deg);
        }
    }
}

@include breakpoint-lg {
    .header-btn-mobile {
        display: flex;
    }
}