.logo {
    display: inline-block;
    background-color: $primary;
    padding: $s1-2 $s6;
    color: $support-light-1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-intro {
    margin-bottom: $s5;
    .category {
    @include small-text;
        margin-bottom: $s1-8;
    }
    p {
        max-width: 600px;
        margin-top: $s1-8;
    }

    @include breakpoint-lg {
        margin-bottom: $s3;
    }
}
.section-intro-center {
    max-width: 850px;
    text-align: center;
    @include m-h-auto;
    p {
        @include m-h-auto;
    }
}

.small-text {
    @include small-text;
}