// Cores primárias
$primary-light-2: #D1B37D;
$primary-light-1: #C2A570;
$primary: #AF915B;
$primary-dark-1: #9E7D41;
$primary-dark-2: #8A692D; 

// Cores de suporte claras
$support-light-1:#FCFCFC;
$support-light-2: #F5F5F2;
$support-light-3: #E1DFDD;
$support-light-4: #C2BFBC;
$support-light-5: #969592;
$support-light-6: #757471;

// Cores de suporte escuras
$support-dark-1: #414141;
$support-dark-2: #393939;
$support-dark-3: #2F2F2F;
$support-dark-4: #242424;
$support-dark-5: #171614;
$support-dark-6: #141310;

// Cores informativas
$success: #01CC88;
$warning: #FFC107;
$danger: #DC3545;