// z-index list
$zIndex-fixed-btns: 10;
$zIndex-dropdown: 20;
$zIndex-header: 30;
$zIndex-modal: 40;


// box-shadows
$shadow-dropdown: 0 8px 16px rgba(0,0,0,0.15); 
$shadow-8dp: 
0 8px 10px 1px rgba(0,0,0,0.14),
0 3px 14px 3px rgba(0,0,0,0.12),
0 4px 5px 0 rgba(0,0,0,0.20);


// animations
$animation-displacementY: 20px;
$animation-displacementX: $gutter / 2;