// Padrão
$s0-4: 0.4rem;
$s0-8: 0.8rem;
$s1-2: 1.2rem;
$s1-6: 1.6rem;
$s2: 2rem;
$s2-4: 2.4rem;
$s3: 3rem;
$s6: 6rem;

$gutter: 30px;

// Projeto
$s1-8: 1.8rem;
$s4: 4rem;
$s5: 5rem;
$s8: 8rem;
$s10: 10rem;